Repository NikCharge/NikCharge, pull requests merged in 2025-05, with the labels that each got.

#6 New/configuration/sonar implementation
  Backend/workflows/sonarcloud.yml
Labels: configurations

#7 New/configuration/sonar implementation
  Backend/pom.xml
  Backend/workflows/sonarcloud.yml
Labels: configurations

#11 New/configuration/docker compose
  .env
  Backend/Dockerfile.backend
  Backend/pom.xml
  Backend/src/main/resources/application.properties
  docker-compose.yml
  frontend/.gitignore
  frontend/Dockerfile.frontend
  frontend/README.md
  frontend/eslint.config.js
  frontend/index.html
  frontend/nginx.conf
  frontend/package-lock.json
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/assets/react.svg
  frontend/src/index.css
  frontend/src/main.jsx
  frontend/vite.config.js
  nginx/nginx.conf
Labels: backend, configurations

#13 New/configuration/ci full pipeline
  .env
  .github/workflows/CI_full_pipeline.yml
  Backend/pom.xml
  Backend/src/main/java/tqs/backend/model/Client.java
  Backend/src/main/java/tqs/backend/model/EvProfile.java
  Backend/src/main/java/tqs/backend/model/Reservation.java
  Backend/src/main/java/tqs/backend/model/TripPlan.java
  Backend/src/main/java/tqs/backend/model/enums/UserRole.java
  Backend/src/main/resources/application.properties
  Backend/src/test/resources/application-test.properties
  Backend/workflows/sonarcloud.yml
Labels: backend, configurations

#15 New/configuration/new ci pipeline
  .github/workflows/CI_full_pipeline.yml
  .github/workflows/build.yml
  .github/workflows/cucumber_tests.yml
  .github/workflows/deploy.yml
  .github/workflows/maven_tests.yml
  .github/workflows/performance.yml
  Backend/pom.xml
  Backend/src/main/java/tqs/backend/controller/StationController.java
  Backend/src/main/java/tqs/backend/dto/ReservationRequest.java
  Backend/src/main/java/tqs/backend/dto/StationDetailWithDiscountDTO.java
  Backend/src/main/java/tqs/backend/dto/StationWithDiscountDTO.java
  Backend/src/main/java/tqs/backend/model/Charger.java
  Backend/src/main/java/tqs/backend/repository/ChargerRepository.java
  Backend/src/main/java/tqs/backend/repository/DiscountRepository.java
  Backend/src/main/java/tqs/backend/repository/StationRepository.java
  Backend/src/main/java/tqs/backend/service/DiscountService.java
  Backend/src/main/java/tqs/backend/service/StationService.java
  Backend/src/test/java/tqs/backend/BackendApplicationTests.java
Labels: bug, backend, configurations

#19 Scrum 17 sign up logic
  Backend/pom.xml
  Backend/src/main/java/tqs/backend/config/SecurityConfig.java
  Backend/src/main/java/tqs/backend/controller/ClientController.java
  Backend/src/main/java/tqs/backend/dto/SignUpRequest.java
  Backend/src/main/java/tqs/backend/model/ChargingSession.java
  Backend/src/main/java/tqs/backend/model/Client.java
  Backend/src/main/java/tqs/backend/model/EvProfile.java
  Backend/src/main/java/tqs/backend/model/Reservation.java
  Backend/src/main/java/tqs/backend/model/TripPlan.java
  Backend/src/main/java/tqs/backend/repository/ClientRepository.java
  Backend/src/main/java/tqs/backend/service/ClientService.java
  Backend/src/main/resources/application-test.properties
  Backend/src/test/java/tqs/backend/BackendApplicationTests.java
  Backend/src/test/java/tqs/backend/CucumberTests.java
  Backend/src/test/java/tqs/backend/api/ClientApiTest.java
  Backend/src/test/java/tqs/backend/controller/ClientControllerTest.java
  Backend/src/test/java/tqs/backend/dto/SignUpRequestTest.java
  Backend/src/test/java/tqs/backend/integration/ClientIntegrationTest.java
  Backend/src/test/java/tqs/backend/model/ClientTest.java
  Backend/src/test/java/tqs/backend/stepdefs/CucumberSpringConfiguration.java
  Backend/src/test/java/tqs/backend/stepdefs/UserRegistrationStepDefs.java
  Backend/src/test/resources/application-test.properties
  Backend/src/test/resources/cucumber.properties
  Backend/src/test/resources/features/user_registration.feature
  Backend/src/test/resources/junit-platform.properties
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/assets/car.png
  frontend/src/assets/logo.png
  frontend/src/assets/team.jpg
  frontend/src/assets/values.jpg
  frontend/src/assets/vision.jpg
  frontend/src/components/SignUpLogIn/SignUp.jsx
  frontend/src/components/homepage/FeaturesSection.jsx
  frontend/src/components/homepage/Footer.jsx
  frontend/src/components/homepage/Header.jsx
  frontend/src/components/homepage/HeroSection.jsx
  frontend/src/css/About.css
  frontend/src/css/Homepage.css
  frontend/src/css/SignUpLogIn.css
  frontend/src/index.css
  frontend/src/pages/About.jsx
  frontend/src/pages/Homepage.jsx
  frontend/src/pages/SignUpLogIn.jsx
Labels: frontend, backend, tests

#20 Scrum 17 sign up logic
  Backend/src/main/java/tqs/backend/config/WebConfig.java
  Backend/src/main/java/tqs/backend/controller/ClientController.java
  Backend/src/main/java/tqs/backend/dto/SignUpRequest.java
  Backend/src/test/java/tqs/backend/CucumberTests.java
  Backend/src/test/java/tqs/backend/controller/ClientControllerTest.java
  Backend/src/test/java/tqs/backend/integration/ClientIntegrationTest.java
  Backend/src/test/java/tqs/backend/model/ClientTest.java
Labels: bug, backend

#22 User Story de Login completa
  Backend/src/main/java/tqs/backend/config/SecurityConfig.java
  Backend/src/main/java/tqs/backend/controller/ClientController.java
  Backend/src/main/java/tqs/backend/dto/ClientResponse.java
  Backend/src/main/java/tqs/backend/dto/LoginRequest.java
  Backend/src/test/java/tqs/backend/api/ClientApiTest.java
  Backend/src/test/java/tqs/backend/controller/ClientControllerTest.java
  Backend/src/test/java/tqs/backend/dto/SignUpRequestTest.java
  Backend/src/test/java/tqs/backend/integration/ClientIntegrationTest.java
  Backend/src/test/java/tqs/backend/stepdefs/CommonStepDefs.java
  Backend/src/test/java/tqs/backend/stepdefs/UserLoginStepDefs.java
  Backend/src/test/java/tqs/backend/stepdefs/UserRegistrationStepDefs.java
  Backend/src/test/resources/features/login.feature
  docker-compose.yml
  frontend/src/components/SignUpLogIn/Login.jsx
  frontend/src/components/SignUpLogIn/SignUp.jsx
  frontend/src/components/homepage/Header.jsx
  frontend/src/css/SignUpLogIn.css
  frontend/src/pages/SignUpLogIn.jsx
Labels: frontend, backend, tests

#24 melhoria e verificação do sonar a funcionar
  .github/workflows/build.yml
Labels: bug, backend

#23 Create sonarcloud.yml
  .github/workflows/sonarcloud.yml
Labels: bug, backend, configurations

#27 New/configurations/docker compose
  .env
  Backend/.env
  Backend/pom.xml
  Backend/src/main/resources/application.properties
  docker-compose.yml
Labels: bug, backend, configurations

#28 Scrum 18 update ev information
  .env
  .gitignore
  Backend/.env
  Backend/src/main/java/tqs/backend/config/SecurityConfig.java
  Backend/src/main/java/tqs/backend/config/WebConfig.java
  Backend/src/main/java/tqs/backend/controller/ClientController.java
  Backend/src/main/java/tqs/backend/dto/ClientResponse.java
  Backend/src/main/java/tqs/backend/dto/SignUpRequest.java
  Backend/src/test/java/tqs/backend/api/ClientApiTest.java
  Backend/src/test/java/tqs/backend/controller/ClientControllerTest.java
  Backend/src/test/java/tqs/backend/integration/ClientIntegrationTest.java
  Backend/src/test/java/tqs/backend/stepdefs/UserLoginStepDefs.java
  Backend/src/test/java/tqs/backend/stepdefs/UserProfileStepDefs.java
  Backend/src/test/resources/features/edit_profile.feature
  docker-compose.yml
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/components/SignUpLogIn/Login.jsx
  frontend/src/components/SignUpLogIn/SignUp.jsx
  frontend/src/components/global/Footer.jsx
  frontend/src/components/global/Header.jsx
  frontend/src/components/homepage/FeaturesSection.jsx
  frontend/src/components/homepage/Header.jsx
  frontend/src/components/homepage/HeroSection.jsx
  frontend/src/css/Dashboard.css
  frontend/src/css/Header.css
  frontend/src/css/global/Footer.css
  frontend/src/css/global/Header.css
  frontend/src/css/pages/About.css
  frontend/src/css/pages/Homepage.css
  frontend/src/pages/About.jsx
  frontend/src/pages/Dashboard.jsx
  frontend/src/pages/Homepage.jsx
  frontend/src/pages/SignUpLogIn.jsx
  nginx/nginx.conf
Labels: bug, documentation, enhancement, frontend, backend, tests

#34 Add the Quality Manual
  documentation/TQS Quality Manual.pdf
Labels: documentation
